    <script src="<%= baseUrl %>js/jquery.mobile.custom.min.js"></script> 
    <script src="<%= baseUrl %>js/main.js"></script>
    <script src="<%= baseUrl %>socket.io/socket.io.js"></script>
    
</body>
</html>