<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="back-button">
            <a href="#" id="back-btn">
                <i class="material-icons">arrow_back</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title"></span>
            <div class="mdl-layout-spacer"></div>
            <button id="chat-options" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
            <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="chat-options">
                <li disabled class="mdl-menu__item">Add People</li>
                <li disabled class="mdl-menu__item">End Chat</li>
                <li disabled class="mdl-menu__item">Help</li>
            </ul>
        </div>
    </header>
    <main id="chat-window" class="mdl-layout__content animate">
        <div id="chat-container" class="page-content">
            <!--div class="msg-from me fullwidth">
                <div class="bg-cover"></div>
                <div class="msg-time">10:27 am</div>
                <div>Some text message</div>
            </div>
            <div class="msg-from other fullwidth">
                <div class="bg-cover"></div>
                <div class="msg-time">10:27 am</div>
                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
            </div-->
        </div>
        
        <div id="input-container">    
            <div id="input-text">
                <textarea placeholder="Type something here"></textarea>
                <button class="send-btn mdl-button mdl-js-button mdl-button--icon" data-input="text">
                    <i class="material-icons">send</i>
                </button>
            </div>
            
            <div id="input-canvas">
                <canvas id="canvas"></canvas>
                <div class="canvas-buttons">
                    <button class="send-btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" data-input="canvas">
                        <i class="material-icons">send</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" disabled>
                        <i class="material-icons">undo</i>
                    </button>
                    <button class="canvas-delete mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">delete</i>
                    </button>
                    <button class="canvas-lineWidth mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">brush</i>
                    </button>
                    <button class="canvas-color mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">color_lens</i>
                    </button>
                </div>
                <input type="color" name="canvas-input-color" value="#354b60" class="off-screen" />
                <div id="canvas-input-lineWidth" class="animate text-center">
                    <div class="label">Line width</div>
                    <input class="mdl-slider mdl-js-slider" type="range" min="1" max="10" value="2" tabindex="0">
                </div>
            </div>
            
            <div id="input-location" class="bg-contain" style="background-image: url('img/google-maps.png');">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">send</i>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">location_searching</i>
                </button>
            </div>
            
            <div id="input-image" class="bg-cover" style="background-image: url('img/placeholder.png');">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">send</i>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">file_upload</i>
                </button>
            </div>
            
            
            <button data-input="text" class="input-option animate mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">font_download</i>
            </button>
            <button data-input="canvas" class="input-option animate mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">touch_app</i>
            </button>
            <button data-input="image" class="input-option animate mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">photo</i>
            </button>
            <button data-input="location" class="input-option animate mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">location_on</i>
            </button>
            
            <button id="input-option" class="animate mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">close</i>
            </button>
        </div>
    </main>
</div>

<!--script>
    ###################################################################
    ###################################################################
    //input preview
    $('#file-prev, .input-file i').on('click', function () {
    	$('#file-input').click();
    });
    //file reader
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#file-prev').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $('#file-input').change(function(){
        readURL(this);
    });
    
    ###################################################################
    ###################################################################
    //Geolocation 
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError, {enableHighAccuracy: true});
        } else {
            $('.input-location').html('<h3 class="text-center fullwidth marg-0">Geolocation is not supported by this browser.</h3>');
        }
    }
    
    function showPosition(position) {
        var latlon = position.coords.latitude + "," + position.coords.longitude;
    
        var img_url = "http://maps.googleapis.com/maps/api/staticmap?center="
        +latlon+"&zoom=16&size=350x250&sensor=false";
    	
        $('.input-location div').empty().append('<img src="'+img_url+'">');
    }
    
    function showError(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
    			$('.input-location').html('<h3 class="text-center fullwidth marg-0">Please enable your location service from the settings.</h3>');
                break;
            case error.POSITION_UNAVAILABLE:
    			$('.input-location').html('<h3 class="text-center fullwidth marg-0">Location information is unavailable.</h3>');
                break;
            case error.TIMEOUT:
    			$('.input-location').html('<h3 class="text-center fullwidth marg-0">The request to get user location timed out.</h3>');
                break;
            case error.UNKNOWN_ERROR:
    			$('.input-location').html('<h3 class="text-center fullwidth marg-0">An unknown error occurred.</h3>');
                break;
        }
    }
    

</script-->