<%- include('body_start') %>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title"><%= title %></span>
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button mdl-button--icon" onclick="javascript:signOut();">
                <i class="material-icons">power_settings_new</i>
            </button>
            <button id="menu" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu">
                <li class="mdl-menu__item">Some Action</li>
                <li class="mdl-menu__item">Another Action</li>
                <li disabled class="mdl-menu__item">Disabled Action</li>
                <li class="mdl-menu__item">Yet Another Action</li>
            </ul>
        </div>
        
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#fixed-tab-1" class="mdl-layout__tab">
                <i class="material-icons mdl-badge--overlap" data-badge="0">person</i>
                <!-- mdl-badge mdl-badge--overlap" data-badge="1"-->
            </a>
            <a href="#fixed-tab-2" class="mdl-layout__tab"><i class="material-icons mdl-badge--overlap" data-badge="0">people</i></a>
            <a href="#fixed-tab-3" class="mdl-layout__tab is-active"><i class="material-icons mdl-badge--overlap" data-badge="0">contacts</i></a>
            <a href="#fixed-tab-4" class="mdl-layout__tab"><i class="material-icons">settings</i></a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><%= title %></span>
        <div id="profile-image" class="bg-cover"></div>
        <h4 id="profile-name" class="text-center"></h4>
        <div id="profile-email" class="text-center"></div>
    </div>
    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel" id="fixed-tab-1">
            <div class="page-content">
                
                <button id="new-chat-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect action-button mdl-button--colored">
                    <i class="material-icons">chat</i>
                </button>
                
                <ul class="privat-chat-list mdl-list">
                    <li class="mdl-list__item mdl-list__item--two-line">
                        <span class="mdl-list__item-primary-content">
                            <div class="bg-cover profile-img-thumbnail" style="background-image: url(./img/user.png);"></div>
                            <span>Bryan Cranston</span>
                            <span class="mdl-list__item-sub-title">62 Episodes asd asd asdsad asd</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <span class="mdl-list__item-secondary-info">12:54&nbsp;pm</span>
                            <i class="material-icons">check</i><!--a class="mdl-list__item-secondary-action" href="#"></a-->
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--two-line">
                        <span class="mdl-list__item-primary-content">
                            <div class="bg-cover profile-img-thumbnail" style="background-image: url(./img/user.png);"></div>
                            <span>Bryan Cranston</span>
                            <span class="mdl-list__item-sub-title">62 Episodes asd asd asdsad asd</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <span class="mdl-list__item-secondary-info">12:54&nbsp;pm</span>
                            <i class="material-icons">check</i><!--a class="mdl-list__item-secondary-action" href="#"></a-->
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--two-line">
                        <span class="mdl-list__item-primary-content">
                            <div class="bg-cover profile-img-thumbnail" style="background-image: url(./img/user.png);"></div>
                            <span>Bryan Cranston</span>
                            <span class="mdl-list__item-sub-title">62 Episodes asd asd asdsad asd</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <span class="mdl-list__item-secondary-info">12:54&nbsp;pm</span>
                            <i class="material-icons">check</i><!--a class="mdl-list__item-secondary-action" href="#"></a-->
                        </span>
                    </li>
                </ul>
                
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-2">
            <div class="page-content">
                <div class="mdl-grid">
                    
                    <div class="mdl-cell mdl-cell--2-col-phone">
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                <i class="material-icons md-36">android</i>
                            </div>
                            <div class="mdl-card__actions">
                                <span>Group chat</span>
                                <div class="mdl-layout-spacer"></div>
                                <i class="material-icons">notifications</i>
                                <!-- notifications_off, notifications_active -->
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col-phone">
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                <i class="material-icons md-36">motorcycle</i>
                            </div>
                            <div class="mdl-card__actions">
                                <span>Group chat</span>
                                <div class="mdl-layout-spacer"></div>
                                <i class="material-icons">notifications_active</i>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col-phone">
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                <i class="material-icons md-36">cloud</i>
                            </div>
                            <div class="mdl-card__actions">
                                <span>12346758912</span>
                                <div class="mdl-layout-spacer"></div>
                                <i class="material-icons">notifications_off</i>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-3">
            <div class="page-content">
                <!--button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect action-button mdl-button--colored">
                    <i class="material-icons">person_add</i>
                </button-->

                <div id="search-box" class="fullwidth">
                    <input type="text" placeholder="Search contact">
                    <i class="material-icons">person_add</i>
                </div>
                
                <div class="search-list mdl-list">
                    <div class="section-label">Search results</div>
                    <p>no result</p>
                </div>
                
                <!--div class="contact-list-favorite mdl-grid">    
                    <div class="section-label">Favorites</div>
                
                    <div class="mdl-cell mdl-cell--2-col-phone">
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                <i class="material-icons mdl-list__item-avatar">person</i>
                            </div>
                            <div class="mdl-card__actions">
                                <span>Group chat</span>
                                <div class="mdl-layout-spacer"></div>
                                <i class="material-icons">favorite</i>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col-phone">
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                <i class="material-icons mdl-list__item-avatar">person</i>
                            </div>
                            <div class="mdl-card__actions">
                                <span>Group chat</span>
                                <div class="mdl-layout-spacer"></div>
                                <i class="material-icons">sentiment_very_satisfied</i>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col-phone">
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                <i class="material-icons mdl-list__item-avatar">person</i>
                            </div>
                            <div class="mdl-card__actions">
                                <span>12346758912</span>
                                <div class="mdl-layout-spacer"></div>
                                <i class="material-icons">account_circle</i>
                            </div>
                        </div>
                    </div>
                </div-->
                
                <div class="request-list mdl-list"></div>
                <div class="contact-list mdl-list"></div>
                <div class="pending-list mdl-list"></div>
                
            </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-4">
            <div class="page-content">
                <ul class="mdl-list settings-list">
                    <div class="section-label">Settings</div>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons">build</i>
                            Bob Odenkirk
                        </span>
                        <span class="mdl-list__item-secondary-action">
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
                                <input type="checkbox" id="list-switch-1" class="mdl-switch__input" checked />
                            </label>
                        </span>
                    </li>
                    
                </ul>
            </div>
        </section>
    </main>
</div>

<div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<div id="popup" class="popup">
    <div class="popup-overlay"></div>
    <div class="popup-body text-center">
        <div class="bg-cover profile-image"></div>
        <h4 class="profile-name"></h4>
        <div class="profile-email"></div>
        <!-- action buttons -->
        <input type="number" class="profile-id" hidden />
        
        <button data-contact-status-id="4" data-action="block" class="mdl-button mdl-js-button mdl-js-ripple-effect set-contact"><i class="material-icons">not_interested</i>&nbsp;Block</button>
        <button data-contact-status-id="3" data-action="decline" class="mdl-button mdl-js-button mdl-js-ripple-effect set-contact"><i class="material-icons">cancel</i>&nbsp;Decline</button>
        <button data-contact-status-id="2" data-action="accept" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored set-contact"><i class="material-icons">check_circle</i>&nbsp;Accept</button>
        <button data-contact-status-id="1" data-action="add" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored set-contact"><i class="material-icons">person_add</i>&nbsp;&nbsp;Add</button>
        <button data-contact-status-id="0" data-action="cancel" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect set-contact"><i class="material-icons">highlight_off</i>&nbsp;Cancel</button>
        <button data-contact-status-id="0" data-action="remove" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect set-contact"><i class="material-icons">highlight_off</i>&nbsp;Remove</button>
        <button data-contact-status-id="0" data-action="unblock" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect set-contact"><i class="material-icons">undo</i>&nbsp;Unblock</button>
        
        <div class="popup-feedback">Your request has been sent successfully!</div>
    </div>
</div>

<audio id="sound-ping">
    <source src="./sound/ping.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<script>
var fullScreen = false;
    // Find the right method, call on correct element
function launchIntoFullscreen(element) {
  if(element.requestFullscreen) {
    element.requestFullscreen();
  } else if(element.mozRequestFullScreen) {
    element.mozRequestFullScreen();
  } else if(element.webkitRequestFullscreen) {
    element.webkitRequestFullscreen();
  } else if(element.msRequestFullscreen) {
    element.msRequestFullscreen();
  }
  fullScreen = true;
}
function exitFullscreen() {
  if(document.exitFullscreen) {
    document.exitFullscreen();
  } else if(document.mozCancelFullScreen) {
    document.mozCancelFullScreen();
  } else if(document.webkitExitFullscreen) {
    document.webkitExitFullscreen();
  }
  fullScreen = false;
}
$('#profile-image').click(function() {
    if(fullScreen) exitFullscreen();
    else launchIntoFullscreen(document.documentElement);
});
</script>

<%- include('body_end') %>