<%- include('body_start') %>

<div class="profile-container">
    <div id="profile-image" class="bg-cover" style=""></div>
    <h2 id="profile-name" class="text-center"></h2>
    <div class="profile-nav">
        <div data-target="add-contact"><i class="fa fa-user-plus"></i></div>
        <div data-target="privat-chat"><i class="fa fa-comments"></i></div>
        <div data-target="group-chat"><i class="fa fa-users"></i></div>
    </div>
    <div class="profile-nav">
        <div data-target="notifications"><i class="fa fa-bell"></i></div>
        <div data-target="settings"><i class="fa fa-cog"></i></div>
        <div data-target="sign-out"><i class="fa fa-sign-out"></i></div>
    </div>
    <div class="input-group input-group-lg marg-top-20">
        <textarea class="form-control" placeholder="Search"></textarea>
        <span class="input-group-btn" id="profile-contact-sort-list">
            <button class="btn btn-default" type="button"><i class="fa fa-list-ul"></i></button>
        </span>
        <span class="input-group-btn" id="profile-contact-sort-block">
            <button class="btn btn-default" type="button"><i class="fa fa-th"></i></button>
        </span>
    </div>
</div>


<div class="screen chat-container">
    <div class="msg-recipient flex-container">
        <div class="icon-sqr back-btn"><i class="fa fa-chevron-left"></i></div>
        <div class="flex-item"><h4>User name</h4></div>
        <div class="icon-sqr"><i class="fa fa-plus"></i></div>
        <div class="icon-sqr"><i class="fa fa-cog"></i></div>
    </div>
    
    <div>
        <div class="msg-from me fullwidth">
            <div class="bg-cover"></div>
            <div class="msg-time">10:27 am</div>
            <div>Some text message</div>
        </div>
        <div class="msg-from other fullwidth">
            <div class="bg-cover"></div>
            <div class="msg-time">10:27 am</div>
            <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        </div>
    </div>
    
    <!-- chat input -->
    <div class="input-group input-group-lg input-text">
        <span class="input-group-btn toggle-input-opt">
            <button class="btn btn-default" type="button"><i class="fa fa-navicon"></i></button>
        </span>
        <textarea class="form-control" placeholder="Enter a message"></textarea>
        <span class="input-group-btn" id="">
            <button class="btn btn-default" type="button"><i class="fa fa-paper-plane"></i></button>
        </span>
    </div>
    
    <!-- live text input -->
    <div class="input-text2 fullwidth display-none">
        <div class="flex-container">
            <div class="flex-item"><textarea class="input-text2-input"></textarea></div>
            <div class="input-text2-opt">
                <div><i class="fa fa-cog"></i></div>
                <div><i class="fa fa-floppy-o"></i></div>
            </div>
        </div>
    </div>
    
    <!-- canvas -->
    <div class="input-canvas fullwidth display-none">
        <div class="flex-container">
            <div class="flex-item">
                <canvas id="canvas" class="input-canvas-input">
                    Sorry, your browser does not support HTML5. Please update to a newer browser.
                </canvas>
            </div>
            <div class="input-canvas-opt">
                <div><i class="fa fa-paper-plane-o"></i></div>
                <div id="canvas-opt-save"><i class="fa fa-floppy-o"></i></div>
                <div id="canvas-opt-clear"><i class="fa fa-trash"></i></div>
                <div id="canvas-opt-thickness">
                    <i class="fa fa-paint-brush"></i>
                    <div id="brush-tickness-control">
                        <input type="range" name="points" min="0" max="10" value="2">
                    </div>
                </div>
                <div id="canvas-opt-color"><i class="fa fa-circle"></i></div>
                <div class="toggle-input-opt"><i class="fa fa-navicon"></i></div>
            </div>
        </div>
    </div>
	
	<!-- file upload -->
    <div class="input-file fullwidth display-none">
		<img id="file-prev">
		<i class="fa fa-upload"></i>
    </div>
	
	<!-- geolocation -->
    <div class="input-location fullwidth display-none">
		<!-- id="geolocation-prev" -->
        <div id="geolocation-prev"></div>
    </div>
	
    <div class="hidden-input">
        <input type="color" value="#354b60" id="color-input"/>
		<input type="file" name="file" id="file-input" />
    </div>
    
</div>

<div class="toggle-input-overlay toggle-input-opt"></div>
<div class="chat-input animate">
    <div class="chat-opt marg-top-0 active" data-chat-opt="text">
        <i class="fa fa-comment"></i>
    </div>
    <div class="chat-opt" data-chat-opt="canvas">
        <i class="fa fa-paint-brush"></i>
    </div>
    <div class="chat-opt" data-chat-opt="file">
        <i class="fa fa-paperclip"></i>
    </div>
    <div class="chat-opt" data-chat-opt="location">
        <i class="fa fa-map-marker"></i>
    </div>
    <br>
    <div class="chat-opt" data-chat-opt="tap">
        <i class="fa fa-hand-pointer-o"></i>
    </div>
    <div class="chat-opt" data-chat-opt="camera">
        <i class="fa fa-camera"></i>
    </div>
    <div class="chat-opt" data-chat-opt="email">
        <i class="fa fa-envelope"></i>
    </div>
    <div class="chat-opt">
        <i class="fa fa-font"></i>
    </div>
</div>

<script>
var fullScreen = false;
    // Find the right method, call on correct element
function launchIntoFullscreen(element) {
  if(element.requestFullscreen) {
    element.requestFullscreen();
  } else if(element.mozRequestFullScreen) {
    element.mozRequestFullScreen();
  } else if(element.webkitRequestFullscreen) {
    element.webkitRequestFullscreen();
  } else if(element.msRequestFullscreen) {
    element.msRequestFullscreen();
  }
  fullScreen = true;
}
function exitFullscreen() {
  if(document.exitFullscreen) {
    document.exitFullscreen();
  } else if(document.mozCancelFullScreen) {
    document.mozCancelFullScreen();
  } else if(document.webkitExitFullscreen) {
    document.webkitExitFullscreen();
  }
  fullScreen = false;
}
$('#profile-image').click(function() {
    if(fullScreen) exitFullscreen();
    else launchIntoFullscreen(document.documentElement);
});
</script>

<%- include('body_end') %>