<style>
    .abcRioButton.abcRioButtonBlue {
        width: 100% !important;
    }
    #logo {
        width: 60%;
        height: auto;
        margin: 10px 20% 50px 20%;
    }
    h2 {
      padding: 40px 0px 10px 0px;
      margin: 0px;
    }
    iframe { display: none; }
</style>
<h2 class="text-center">Delta</h2>
<img src="img/icon.png" alt="Delta" id="logo" />
<div style="padding: 16px;">
   <div id="g-signin2" class="g-signin2"
    data-scope="profile email"
    data-onsuccess="onSuccess"
    data-onfailure="onFailure"
    data-theme="dark"
    data-width="300"
    data-height="50"
    data-longtitle="true"></div>
</div>