@font-face {
    font-family: font_one;
    src: url(../font/TitilliumWeb-Light.ttf);
}
@font-face {
    font-family: font_two;
    src: url(../font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: font_three;
    src: url(../font/Consolas.ttf);
}
@font-face {
    font-family: font_four;
    src: url(../font/VarelaRound-Regular.otf);
}
@font-face {
    font-family: font_five;
    src: url(../font/Quicksand-Regular.ttf);
}
* { box-sizing: border-box; }
body {
    color: #34495e;
    background-color: #ecf0f1;
    font-family: font_two;
}

/* ----------------------------------------------- */
/* ---------------- Utilities -------------------- */
/* ----------------------------------------------- */

.font-1 { font-family: font_one; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-green { color: #2ecc71; }
.text-red { color: #e74c3c; }
.flex-container {display: flex;}
.flex-item {flex-grow: 1;}
.border-0 {border: 0px !important;}
.display-none {display: none !important;}
.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
/*  background-image: url();        */
}
.bg-contain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
/*  background-image: url();        */
}
h1, h2, h3, h4, h5, h6 {
	font-family: font_one;
}
div, p, span {
    font-family: font_two;
    margin: 0px;
}
iframe {
    display: none;
}
.animate {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.box-shadow {
	-webkit-box-shadow: 0 0 50px 0 #858585;
	box-shadow: 0 0 50px 0 #858585;
}
.zoom-on-hover:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.border {
    border: 1px solid #ccc;
}
.no-underline, .no-underline:active,
.no-underline:focus, .no-underline:visited,
.no-underline:hover {
    text-decoration: none;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.no-shadow {
    -webkit-box-shadow:inset 0 0 0 0 #FFFFFF;
    box-shadow:inset 0 0 0 0 #FFFFFF;
}

/* ----------------------------------------------- */
/* ----------------------- MDL ------------------- */
/* ----------------------------------------------- */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

.mdl-layout-title {
    font-family: font_one;
    margin-top: -5px;
    font-size: 1.8em;
}
.mdl-layout__tab i {
    vertical-align: -8px;
}
.mdl-list {
    position: relative;
    margin: 0px;
    padding: 22px 0px 0px 0px;
}
.mdl-list__item {
    position: relative;
    line-height: 40px;
}
.mdl-list__item--two-line {
    position: relative;
}
.mdl-list__item-primary-content span{
    margin-left: 56px;
}
.mdl-list__item-secondary-action i {
    font-size: 1.7em;
    vertical-align: -7px;
}
/*
.mdl-list__item-secondary-content {
    padding-top: 5px;
}
.mdl-list__item-secondary-content i {
    margin: 0px auto;
}
.setting-list .mdl-list__item-secondary-action {
    margin-right: 16px;
}
.mdl-card {
    min-height: initial;
    width: 100%;
    border: 1px solid #ccc;
}
.mdl-card__title {
    border-bottom: 1px solid #ccc;
}
.mdl-card__title .material-icons {
    margin: 0px auto;
}
.mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.mdl-card__actions .material-icons {
  padding-right: 10px;
}
*/

#search-box {
    padding: 16px;
    position: relative;
}
#search-box i {
    font-size: 2.8em;
    position: absolute;
    top: 16px;
    right: 16px;
    color: #999;
}
#search-box i.active {
    color: #2196F3;
}
#search-box input {
    width: calc(100% - 56px);
    height: 40px;
    line-height: 24px;
    padding: 8px 16px;
    box-sizing: border-box;
    font-family: font_two;
    border: 1px solid #ccc;
    font-size: 1.4em;
}
.privat-chat-list {
    padding: 0px;
}
.contact-list i {
    color: #999;
}
.contact-email {
    display: none;
}
.pending-list i {
    color: #e74c3c;
}
.request-list i {
    color: #2ecc71;
}
.request-list,
.pending-list,
.search-list {
    display: none;
}
.search-list p {
    text-align: center;
    padding: 10px;
}
.section-label {
    background-color: rgba(0,150,136,0.7);
    color: #ecf0f1;
    width: 100%;
    height: auto;
    padding: 1px 16px;
    font-size: 0.9em;
    font-family: font_five;
    position: absolute;
    top: 0px;
    left: 0px;
}
.action-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
}
.back-button {
    margin: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    background-color: inherit;
    display: block;
    height: 48px;
    width: 48px;
    border: 0px;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
    line-height: 50px;
    cursor: pointer;
}
.back-button a {
    color: inherit;
    height: 100%;
    width: 100%;
    display: block;
}
.msg-from.me {
    text-align: right;
}
.msg-from.me,
.msg-from.other {
    padding: 10px 65px;
    position: relative;
}
.msg-from.me div:first-child {
    right: 10px;
}
.msg-from.other div:first-child {
    left: 10px;
}
.msg-from.me div:first-child,
.msg-from.other div:first-child {
    position: absolute;
    top: 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #ccc;
    background-image: url(../img/user.png);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-sizing: border-box;
}
.msg-from .msg-time {
    font-size: 0.8em;
}
.chat-option-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    min-width: initial;
}
#input-text {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 70px);
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #999;
    padding: 8px 16px;
    font-family: font_two;
    font-size: 15px;
    line-height: 18px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    resize: none;
}
#input-text:focus {
    outline: none;
}
#input-canvas {
    width: 100%;
    height: auto;
    padding: 8px 8px 10px 8px;
    border-top: 2px solid #999;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: #ddd;
}
#input-canvas canvas {
    width: 100%;
    height: 240px;
    background-color: #fff;
    border: 1px solid #ccc;
}
#input-canvas div {
    width: 100%;
    height: 100%;
    padding: 10px 50px 0px 0px;
}
#input-canvas div button {
    width: 40px;
    height: 40px;
    min-width: initial;
    margin-right: 7px;
}
#input-image,
#input-location {
    width: 100%;
    height: 260px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-top: 2px solid #999;
}
#input-image button:first-child,
#input-location button:first-child {
    /*
    width: 40px;
    height: 40px;
    min-width: initial;
    */
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#input-image button:last-child,
#input-location button:last-child {
    /*
    width: 40px;
    height: 40px;
    min-width: initial;
    */
    position: absolute;
    bottom: 10px;
    left: 76px;
}
.profile-image,
#profile-image {
    height: 96px;
    width: 96px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0px auto;
    border: 2px solid #999;
}
.profile-name,
#profile-name {
    padding: 0px 10px;
    margin: 10px 0px 5px 0px;
    word-break: break-all;
}
.profile-email,
#profile-email {
    margin: 0px;
    font-size: 0.9em;
}
#menu {
    margin-left: 15px;
}
#window-chat {
    position: absolute;
    top: 0px;
    left: 100%;
}
.profile-img-thumbnail {
    height: 40px;
    width: 40px;
    margin-right: 16px;
    border: 2px solid #999;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: 16px;
    left: 16px;
}
.popup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
}
.popup-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
}
.popup-body {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: auto;
    min-height: 200px;
    max-height: 70%;
    background-color: #fff;
    padding: 30px 20px;
    overflow: auto;
}
.popup-feedback{
    font-size: 0.85em;
    margin-top: 5px;
    display: none;
}
.set-contact {
    display: none;
    margin-top: 30px;
}

button i {
    vertical-align: -6px !important;
}



























